.heroSection {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 60vh;
	padding: 4rem 1rem;
	box-sizing: border-box;
}

.heroInner {
	display: flex;
	flex-direction: row;
	max-height: 100%;
	gap: 1rem;
	box-sizing: border-box;
}

.reverseOnDesktop {
	flex-direction: row-reverse;
}

@media (max-width: 768px) {
	.heroSection {
		height: auto;
		min-height: 50vh;
		padding: 4rem 0rem;
	}

	.heroInner {
		flex-direction: column;
		gap: 2rem;
	}

	.reverseOnMobile {
		flex-direction: column-reverse;
	}
}
